$card-width: 200px;
$border-color: #ccc;

.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid $border-color;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}
